<header>
  <!-- Navbar Area -->
  <div class="topnav" id="myTopnav">
      <a href="javascript:void(0)" class="icon" (click)="showNavbar()">
          <i class="fa fa-bars"></i>
      </a>
      <a href="#home" class="active">Home</a>
      <a href="#news">Archive</a>
      <a href="#contact">Pages</a>
      <a href="#about">Mega</a>
      <a href="#about">About</a>
  </div>
  <div class="meta-data">
        <a href="login.html" class="meta-data-login">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
  </div>
</header>